In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split,GridSearchCV,RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier

In [2]:
df=pd.read_csv("kyphosis.csv")

In [3]:
df.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Kyphosis  81 non-null     object
 1   Age       81 non-null     int64
 2   Number    81 non-null     int64
 3   Start     81 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.7+ KB

In [5]:
df.describe()

              Age     Number      Start
count   81.000000  81.000000  81.000000
mean    83.654321   4.049383  11.493827
std     58.104251   1.619423   4.883962
min      1.000000   2.000000   1.000000
25%     26.000000   3.000000   9.000000
50%     87.000000   4.000000  13.000000
75%    130.000000   5.000000  16.000000
max    206.000000  10.000000  18.000000

In [6]:
Encode=LabelEncoder()
df['Kyphosis']=Encode.fit_transform(df['Kyphosis'])

In [7]:
df.isnull().sum()

Kyphosis    0
Age         0
Number      0
Start       0
dtype: int64

In [8]:
df.head()

   Kyphosis  Age  Number  Start
0         0   71       3      5
1         0  158       3     14
2         1  128       4      5
3         0    2       5      1
4         0    1       4     15

In [9]:
df.Kyphosis.value_counts()

0    64
1    17
Name: Kyphosis, dtype: int64

In [10]:
df.shape

(81, 4)

In [11]:
y=df['Kyphosis']

In [12]:
X=df.iloc[:,1:]
X

    Age  Number  Start
0    71       3      5
1   158       3     14
2   128       4      5
3     2       5      1
4     1       4     15
..  ...     ...    ...
76  157       3     13
77   26       7     13
78  120       2     13
79   42       7      6
80   36       4     13

[81 rows x 3 columns]

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [14]:
"""
# this is only works well for regression
var={'criterion':['squared_error','friedman_mse','absolute_error'],
     'max_depth':[5,6,8,9,10],
     'min_samples_leaf':np.arange(2,6),
     'max_features':['auto','sqrt','log2']
     }
"""

"\n# this is only works well for regression\nvar={'criterion':['squared_error','friedman_mse','absolute_error'],\n     'max_depth':[5,6,8,9,10],\n     'min_samples_leaf':np.arange(2,6),\n     'max_features':['auto','sqrt','log2']\n     }\n"

In [15]:
var={'criterion':['gini','entropy'],
     'max_depth':[5,6,8,9,10]
     }

In [16]:
tree=DecisionTreeClassifier()

In [17]:
Tree=DecisionTreeClassifier()

In [18]:
Trees=DecisionTreeClassifier()

In [19]:
grid=GridSearchCV(estimator=tree,param_grid=var)

In [20]:
grid.fit(X_train,y_train)

GridSearchCV(estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [5, 6, 8, 9, 10]})

In [21]:
grid.best_params_

{'criterion': 'entropy', 'max_depth': 10}

In [22]:
grid.score(X_test,y_test)

0.8823529411764706

In [23]:
Trees.fit(X_train,y_train)

DecisionTreeClassifier()

In [24]:
Trees.score(X_test,y_test)

0.9411764705882353

In [25]:
Randomized=RandomizedSearchCV(estimator=Tree,param_distributions=var)

In [26]:
Randomized.fit(X_train,y_train)

RandomizedSearchCV(estimator=DecisionTreeClassifier(),
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': [5, 6, 8, 9, 10]})

In [27]:
Randomized.best_params_

{'criterion': 'entropy', 'max_depth': 9}

In [28]:
Randomized.score(X_test,y_test)

0.8823529411764706